body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    margin: 5px;
    padding: 8px 15px;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

/* 再生中の曲にハイライトを付ける */
li.active {
    background-color: #ffcc00;
    /* ハイライトの色 */
    font-weight: bold;
}

/* シャッフルボタンの選択状態 */
#shuffleButton.active {
    background-color: #ff6600;
    color: white;
}